<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}



    <div class="panel-body">
        {{#if thresholdWarning}}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button"
                        class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!</strong> there is too much data to display them all on the map, only the first {{thresholdLimit}} items are shown.
            </div>
        {{/if}}
        <div class="map-body" style={{mapStyle}}>
            {{#if collection.isPending}}
                <p>Fetching data... Please wait, it may take a while...</p>
                {{partial 'eureka-loading'}}
            {{else}}
                {{!-- <div class="map-progress"><div class="map-progress-bar"></div></div> --}}
                {{#if collection.isFulfilled}}
                    {{#unless collection.length}}
                        <p> no coordonates found </p>
                    {{/unless}}
                {{/if}}
                {{#if collection.isRejected}}
                    {{collection.reason.error}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>